
.filter-container {
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

    .filter-element {
        padding-right: 10px;
        min-width: 160px;
    }
}